@use '@/styles/abstracts/variables' as var;

.loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var.$color-red;
}

.loaderIcon {
  height: 2.5rem;
  animation: spin 1.5s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.loaderText {
  font-weight: var.$font-medium;
}
