@use '@/styles/abstracts/variables' as var;

.score {
  grid-area: sco;
  position: relative;
  height: 19rem;
  background-color: var.$color-neutral-100;
  border-radius: var.$rounded-sm;
}

.title {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  font-weight: var.$font-medium;
}

.chart {
  --progress: #{var.$color-red};
  --remaining: #{var.$color-neutral-200};
  --background: #{var.$color-white};
  --title: #{var.$color-neutral-900};
  --baseline: #{var.$color-neutral-500};
}
