@use '@/styles/abstracts/variables' as var;

.activity {
  grid-area: act;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  height: 19rem;
  background-color: var.$color-neutral-100;
  border-radius: var.$rounded-sm;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var.$text-sm;
  font-weight: var.$font-medium;
}

.legend {
  display: flex;
  gap: 1rem;
  font-size: var.$text-xs;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legendItem::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: var.$rounded-full;
}

.poids::before {
  background-color: var.$color-neutral-700;
}

.calories::before {
  background-color: var.$color-red;
}

.chart {
  --poids: #{var.$color-red};
  --calories: #{var.$color-neutral-700};
  --text: #{var.$color-neutral-400};
  --line: #{var.$color-neutral-300};
  --white: #{var.$color-white};

  font-size: var.$text-sm;
}

.tooltip {
  display: flex;
  flex-direction: column;
  font-size: var.$text-xs;
  border-radius: var.$rounded-sm;
  overflow: hidden;
  box-shadow: var.$shadow-md;
}

.tooltipValue {
  padding: 0.5rem;
  color: var.$color-white;
  font-weight: var.$font-bold;
  text-align: center;
}

.tooltipValuePoids {
  background-color: var.$color-neutral-700;
}

.tooltipValueCalories {
  background-color: var.$color-red;
}
