@use '@/styles/abstracts/variables' as var;

.activity {
  grid-area: act;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  height: 19rem;
  background-color: var.$color-neutral-100;
  border-radius: var.$rounded-sm;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: var.$text-sm;
  font-weight: var.$font-medium;
}

.legend {
  display: flex;
  gap: 1rem;
  font-size: var.$text-xs;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legendItem::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: var.$rounded-full;
}

.poids::before {
  background-color: var.$color-neutral-700;
}

.calories::before {
  background-color: var.$color-red;
}

.chartContainer {
  width: 100%;
  height: 100%;
}

.chart {
  --poids: #{var.$color-neutral-700};
  --calories: #{var.$color-red};
  --text: #{var.$color-neutral-500};
  --line: #{var.$color-neutral-300};
  --white: #{var.$color-white};
  --cursor: #{rgba(var.$color-black, 0.1)};

  overflow: visible;
}

.tooltip {
  display: inline-block;
  width: 1px;
  height: 1px;
  overflow: visible;
}

.tooltipContent {
  display: inline-flex;
  flex-direction: column;
  width: max-content;
  color: var.$color-white;
  border-radius: var.$rounded-sm;
  overflow: hidden;
  box-shadow: var.$shadow-md;
}

.tooltipContent > * {
  text-align: center;
  padding: 0.5rem 0.5rem;
}

.tooltipPoids {
  background-color: var.$color-neutral-700;
}

.tooltipCalories {
  background-color: var.$color-red;
}
