@use '@/styles/abstracts/variables' as var;

.analytics {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-areas: 'act' 'ses' 'per' 'sco' 'cal' 'pro' 'car' 'lip';

  @media (min-width: var.$bp-xs) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      'act act'
      'ses ses'
      'per per'
      'sco sco'
      'cal pro'
      'car lip';
  }

  @media (min-width: var.$bp-md) {
    grid-template-areas:
      'act act'
      'ses ses'
      'per sco'
      'cal pro'
      'car lip';
  }

  @media (min-width: var.$bp-lg) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas:
      'act act act act act act act act act act act act'
      'ses ses ses ses per per per per sco sco sco sco'
      'cal cal cal pro pro pro car car car lip lip lip';
  }

  @media (min-width: var.$bp-xl) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas:
      'act act act cal'
      'act act act pro'
      'ses per sco car'
      'ses per sco lip';
  }
}
