@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mix;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1.5rem;
  font-size: var.$text-sm;

  @media (min-width: var.$bp-xs) {
    padding-block: 2rem;
  }
}
